.titre{
  font-size: 30px;
  font-family: "Britannic Bold";
}
.bouton{
  font-size: x-large;
}

.cardd{
  background-color: azure;
}
.produit{
  background-color: aliceblue;
}
.table{
  text-align: center;
  align-content: center;
  display : inline-table;
  margin-left : auto; margin-right : auto;
}
