
    <div class="card">
      <div class="card-header text-dark text-center ">L'Appel Achat
      </div>
      <div class="card-body">

        <div class="form-group">
          <label for="ref" class="text-danger">Ref</label>
          <input id="ref" type="text" class="form-control" [(ngModel)]="appelAchat.ref">
        </div>

        <div class="form-group">
          <label for="dateAppelAchat" class="text-danger">Date Appel Achat</label>
          <input id="dateAppelAchat" type="text" class="form-control" [(ngModel)]="appelAchat.dateAppelAchat">
        </div>

        <div class="form-group">
          <label for="categorieAppelAchat" class="text-danger">Categorie </label>

          <select id="categorieAppelAchat" [(ngModel)]="appelAchat.categorieAppelAchat">
            <option value="bonDeCommande">Bon de commande</option>
            <option value="marche">Marche</option>
          </select>
          </div>

        <div class="form-group">
          <label for="totale" class="text-danger">Totale</label>
          <input id="totale" type="text" class="form-control"
                 [(ngModel)]="appelAchat.totale">
        </div>
      </div>
      <div class="card-footer"></div>
      <button class="btn btn-success " (click)=save(appelAchat)>confirmer</button>
    </div>






