<div class="card">
  <div class="card-header">Creation produit</div>
  <div class="card-body">

    <div class="form-group">
      <label for="code">code</label>
      <input id="code" type="text" class="form-control" [(ngModel)]="produit.code">
    </div>

    <div class="form-group">
      <label for="libelle">Libelle</label>
      <input id="libelle" type="text" class="form-control" [(ngModel)]="produit.libelle">
    </div>


  </div>

  <div class="card-footer"></div>
  <button class="btn btn-success " (click)= "save(produit)">Ajouter</button>
</div>
