
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body >
<section>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 col-sx-12 col-sm-12  ">
        <div class="ok"><i class="fa-solid fa-comments-dollar fa-3x p-4 text-light"></i>Simple et intuitif, le logiciel facilite la gestion des budgets.</div>

        <div class="text">Budget: the best software for doing your accounts</div>
        <div class="title"><img src="assets/image/o.png" alt=""></div>
        <div class="para ok text-center">GESTION DE BUDGET DES ENTITES ADMINISTRATIFS</div>
          <div class="par"> déterminer votre politique de stockage et élaborer un plan d'investissement pour prévoir le financement des moyens</div>
        </div>

    </div>
  </div>
</section>

</body>
</html>






