<div class="color">
<div class="banner ">
  <div class="content">
    <h1 class="mb-5"> Gestion du Budget <br/> Entité Administrative</h1>
    <a href="entite-administratif-create">S'INSCRIRE <i class="bi bi-arrow-right"></i></a>

  </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5 ">
  <h1 class="text-center "> <span class="highlight">A propos</span></h1>
  <p class="text-center"> <br>La gestion budgétaire est l'un des sujets les plus importants et populaires pour les entités administratives. Notre application met en avant la gestion des budgets annuels accordés à chacune de ces entités. L'objectif de cette application est de gérer l'activité, d'anticiper les risques et de prendre les bonnes décisions. Elle se compose de 4 étapes : la première étape fournit des informations sur l'entité, la deuxième permet d'en apprendre davantage
    sur le budget et le budget accordé à chaque entité, la troisième permet d'exprimer nos besoins et enfin, la quatrième étape est l'appel d'achat.
  </p>

</div>


<body class="body">
<section class="available merriweather py-5">
  <div class="container">
    <div class="row">
      <div class="card mb-3 border-0 rounded-0">
        <div class="row ">
          <div class="col-md-6">
            <img src=" ../../../assets/image/Screenshot%20(76).png"class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Infos</h5>
              <p class="card-text">La partie infos se présente sous la forme d'une page d'inscription où l'entité administrative peut établir une connexion directe avec l’application tel qu’elle saisit tous ces informations nécessaires à savoir son nom et sa catégorie.
                Nous pouvons également accéder ou afficher toutes les autres entités inscrites à partir de la liste où toutes les informations saisies sont ajoutées.</p>
              <p class="card-text"><a href="#" class="text-muted btn ">Last updated 3 mins ago</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card my-5 border-0 rounded-0">
        <div class="row ">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Budget</h5>
              <p class="card-text">l'utilisateur à saisir les informations relatives à son budget, y compris l'année budgétaire, le montant total d'investissement et de fonctionnement.
                L'utilisateur doit ensuite saisir uniquement la référence d'entité et le pourcentage correspondant pour chaque entité afin d'afficher les 3 montants de budget de chaque entité. .</p>
              <p class="card-text"><a href="#" class="text-muted btn ">Last updated 3 mins ago</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/image/budget.png" class="d-block w-100" alt="...">
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0 rounded-0">
        <div class="row ">
          <div class="col-md-6">
            <img src="../../../assets/image/Screenshot%20(77).png " class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body text-light">
              <h5 class="card-title text-dark">Expression Besoin</h5>
              <p class="card-text text-dark">Les entités administratives ont la possibilité d'exprimer leurs besoins une fois qu'un budget leur est accordé. Cette expression de besoins peut se faire en utilisant leur code et en sélectionnant les produits requis à partir d'une liste de produits.
                Ensuite, l'entité administrative peut confirmer les produits sélectionnés..</p>
              <p class="card-text"><a href="#" class="text-muted btn ">Last updated 3 mins ago</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card my-5 border-0 rounded-0">
        <div class="row ">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Appel Achat</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                to additional content. This content is a little bit longer.</p>
              <p class="card-text"><a href="#" class="text-muted btn ">Last updated 3 mins ago</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div id="carouselExampleIndicators " class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/image/achat.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>


<section class="cc-footer py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 col-sm red">
        <h6 class="redressed ps-3 fs-5">les membres du projets</h6>
        <nav class="nav flex-column">
          <a class="nav-link py-1 merriweather fs-6 text-secondary active" aria-current="page" href="https://github.com/Assmaegithub">Assmae Alida</a>
          <a class="nav-link py-1 merriweather fs-6 text-secondary" href="https://github.com/ilhameaguer"> Ilhame Aguergour</a>
          <a class="nav-link py-1 merriweather fs-6 text-secondary" href="https://github.com/manalalm">Manal Ait Lamaallem</a>
          <a class="nav-link py-1 merriweather fs-6 text-secondary" href="https://github.com/rababachf1">Rabab Achfiri</a>
          <a class="nav-link py-1 merriweather fs-6 text-secondary" href="https://github.com/SalmaAtmani">Salma Atmani</a>

        </nav>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 col-sm fed">
        <h6 class="redressed ps-3 fs-5">l'encadrant</h6>
        <nav class="nav flex-column">
          <a class="nav-link py-1 merriweather fs-6 text-secondary active" aria-current="page" href="#">Youness Ezzouani</a>
          <a class="nav-link py-1 merriweather fs-6 text-secondary" href="https://github.com/younes-uca">Link</a>

        </nav>
      </div>


      <div class="col-12 text-center py-4 text-muted">
        &copy;2023 Copyright
      </div>

    </div>
  </div>
  </section>
</body>
</div>
