<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="cc-navbar navbar navbar-expand-lg position-fixed navbar-dark w-100">
  <div class="container-fluid">
    <a class="navbar-brand " href="#"> <i class="fa-solid fa-circle-dollar-to-slot fa-2x text-light"></i></a>
    <button class="navbar-toggler" type="button"data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item pe-4">
          <a class="nav-link active" aria-current="page" href="home"> Home</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link" href="entite-administratif-create">Infos</a> </li>
        <li class="nav-item pe-4">
          <a class="nav-link " href="budget-create"> Budget </a> </li>
        <li class="nav-item pe-4">
          <a class="nav-link " href="expression-besoin-create">Vos besoins</a> </li>
        <li class="nav-item pe-4">
          <a class="nav-link " href="appel-achat-create">Appel Achat</a> </li>
      </ul>
    </div>
  </div>
</nav>
