<div class="banner">
  <div class="container">
    <div class="row">
        <div class=" text-center title">Informations sur l'Entité Administratif</div>

        <div class="form-group" >
          <label for="code" class="text1">code</label>
          <input id="code" type="text" class="form-control" [(ngModel)]="entiteAdministratif.code">
        </div>

        <div class="form-group" >
          <label for="code" class="text1">Libelle</label>
          <input  type="text1" class="form-control" [(ngModel)]="entiteAdministratif.libelle">
        </div>


          <div class="form-group"><label class="text1"> La catégorie d'entité administratif </label>
            <select class="form-select put" aria-label="Default select example" id="categorieEntiteAdministratif"  [(ngModel)]="categorieEntiteAdministratif.code">

              <option value="hospital">hospital</option>
              <option value="educatif">educatif</option>
              <option value="laboratoire">laboratoire</option>
              <option value="faculté">faculté</option>
              <option value="bibliotheque">bibliotheque</option>
              <option value="école">école</option>
              <option value="arrondissement">arrondissement</option>
              <option value="école">école</option>
            </select>
          </div>
      </div>
<div class="hey">
  <button class="btn ok " (click)= "save(entiteAdministratif)">Confirmer</button>
  <a class="btn next"  href="budget-create"> SUIVANT </a>
</div>
  <div class="col-md-6">
    <table class="table table-bordered table-hover my-3 bena" *ngIf="entiteAdministratifs.length!=0">
      <thead>
      <th >Code</th>
      <th>Libelle</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor = "let e of entiteAdministratifs; index as i">
        <td>{{e.code}}</td>
        <td>{{e.libelle}}</td>
        <td><span (click)="deleteByCode(e,i)" class="fa fa-trash btn btn-sm"></span> </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>



