.banner{
  height: 1000px;
  background-image:url("src/assets/image/im.jpg");
  background-position: center top;
  background-size: cover;
}
.bena{
  margin-left: 400px;
}
.title{
  margin-top: 80px;
  color: chocolate;
  font-size: 30px;
  font-family: "Britannic Bold";
}
.text1{
  color: chocolate;
}
.ok{
  margin-left:944px;
  background-color: chocolate;
}
.next{
  margin-left: 100px;
  background-color: chocolate;
}
.hey{
  margin-top: 30px;
}

.list{
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

