<div class="row">
  <div class="col-md-6">
    <div class="card mt-3">
      <div class="card-header" class="text-secondary text-center title">les Entites
        Administratifs
      </div>
      <div class="card-body">

        <div class="form-group">
          <label for="Code" class="text-warning">Code</label>
          <input id="Code" type="text" class="form-control" [(ngModel)]="entiteAdministratif.code">
        </div>

        <div class="form-group">
          <label for="libelle" class="text-warning">libelle</label>
          <input id="libelle" type="text" class="form-control" [(ngModel)]="entiteAdministratif.libelle">
        </div>

        <div class="form-group">
          <label for="categorieEntiteAdministratif" class="text-warning">Categorie</label>
          <input id="categorieEntiteAdministratif" type="text" class="form-control"
                 [(ngModel)]="entiteAdministratif.categorieEntiteAdministratif">
        </div>

      </div>
      <div class="card-footer"></div>
      <button class="btn btn-primary " (click)=save(entiteAdministratif)>ajouter</button>
    </div>

  </div>
</div>

