.title{
  font-weight: bold;
  font-family:Verdana;
  font-size: 25px;
  background-color: lightblue;
}
.text{
  color: white;
  font-weight: bolder;
  font-family: Garamond;
  font-size: 20px;
}
.card{
  background-color: lightblue;
}
.put{
  font-family: Verdana;
  font-weight: bold;
  color: black;
}
.liste{
  background-color: lightblue;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#list{
  color:white;
}

