
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body >
<section>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 col-sx-12 col-sm-12  ">
        <div class="ok "><i class="fa-regular fa-face-frown  fa-10x"></i></div>
        <div class="error">404</div>
        <div class="page">Page Not Founded</div>
        <div class="up">The page you are looking for doesn't exist or an other error occurred</div>
        <span class="up text"> Go back, or head over to Home to choose a new direction</span>
        <button class="   boutton"><a href="http://localhost:4200/home" class="text-white">BACK</a> </button>
      </div>

    </div>
  </div>
</section>

</body>
</html>

