.title{
  font-weight: bolder;
  font-family:cursive;
  font-size: 27px;
  background-color:lightskyblue;

}
.text{
  color:black;
  font-weight: bold;
  font-family: Candara;
  font-size: 23px;
  background-color:lightskyblue;
}
.card{
  background-color: lightskyblue;
}

.btn{
  background-color: blue;
  color: black;

}
