.title{
  font-weight: bold;
  background-color: lightblue;
  font-size: 40px;

}


.text{
  color: black;
  font-weight: bolder;
  background-color: lightblue;
  font-size: 28px;

}


.liste{

  color: black;
  font-weight: bold;

  text-align: center;
}


.cardi{
  background-color: lightblue;
}



.button{
  background-color: beige;
  position: center;
  font-size: 23px ;
}
