<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-expression-besoin-create></app-expression-besoin-create>
    </div>
    <div class="col-md-6">
      <app-expression-besoin-list></app-expression-besoin-list>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-expression-besoin-produit-create></app-expression-besoin-produit-create>
    </div>
    <div class="col-md-6">
      <app-expression-besoin-produit-list></app-expression-besoin-produit-list>
    </div>
  </div>
</div><div class="container">
  <div class="row">

      <app-entite-administratif-create></app-entite-administratif-create>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-categorie-entite-administratif-create></app-categorie-entite-administratif-create>
    </div>
    <div class="col-md-6">
      <app-categorie-entite-administratif-list></app-categorie-entite-administratif-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-produit-create></app-produit-create>
    </div>
    <div class="col-md-6">
      <app-produit-list></app-produit-list>
    </div>
  </div>
</div>
