<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-expression-besoin-create></app-expression-besoin-create>
    </div>
    <div class="col-md-6">
      <app-expression-besoin-list></app-expression-besoin-list>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-entite-administratif-create></app-entite-administratif-create>
    </div>
    <div class="col-md-6">
      <app-entite-administratif-list></app-entite-administratif-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-produit-create></app-produit-create>
    </div>
    <div class="col-md-6">
      <app-produit-list></app-produit-list>
    </div>
  </div>
</div>
