<div class="container">
  <div class="row">
      <app-expression-besoin-create></app-expression-besoin-create>

</div>
  </div>


<div class="container">
  <div class="row">

    <app-entite-administratif-create></app-entite-administratif-create>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-categorie-entite-administratif-create></app-categorie-entite-administratif-create>
    </div>
    <div class="col-md-6">
      <app-categorie-entite-administratif-list></app-categorie-entite-administratif-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <app-appel-achat-create></app-appel-achat-create>

  </div>
</div>
<div class="container">
  <div class="row">

    <app-budget-list></app-budget-list>



  </div>
</div>

<div class="container">
  <div class="row">

    <app-budget-create></app-budget-create>

  </div>
</div>


