<div class="card">
  <div class="card-header">Creation des expressions besoins produit</div>
  <div class="card-body">

    <div class="form-group">
      <label for="code">code</label>
      <input id="code" type="text" class="form-control" [(ngModel)]="expressionBesoin.code">
    </div>

    <div class="form-group">
      <label for="total">total</label>
      <input id="total" type="text" class="form-control" [(ngModel)]="expressionBesoin.total">
    </div>

    <div class="form-group">
      <label for="dateExpressionBesoin">dateExpressionBesoin</label>
      <input id="dateExpressionBesoin" type="text" class="form-control" [(ngModel)]="expressionBesoin.dateExpressionBesoin">
    </div>

  </div>

  <div class="card-footer"></div>
  <button class="btn btn-success " (click)= "save(expressionBesoin)">Ajouter</button>
</div>



