
.titre{
  margin-top: 60px;
  color: chocolate;
  font-size: 30px;
  font-family: "Britannic Bold";
}
.text1{
  color: chocolate;
}
.bouton{
  font-size: 20px;
  position: center;
}
.card-header1{
  color: burlywood;

}
.card-header{
  color: burlywood;
}
.banner{
  height: 800px;
  background-image:url("src/assets/image/rm141-nunny-10b.jpg");
  background-position: center top;
  background-size: cover;
}

