<div class="banner">
  <div class="container">
    <div class="row">
      <div >
          <div class=" text-center titre">Exprimez Vos Besoins</div>

            <div class="form-group" >
              <label for="code" class="text1">code</label>
              <input id="code" type="text" class="form-control" [(ngModel)]="expressionBesoin.code">
            </div>

            <div class="form-group">
              <label for="dateExpressionBesoin" class="text1">dateExpressionBesoin</label>
              <input id="dateExpressionBesoin" type="date" class="form-control" [(ngModel)]="expressionBesoin.dateExpressionBesoin">
            </div>

            <div class="form-group" >
              <label for="code" class="text1">code</label>
              <input  type="text1" class="form-control" [(ngModel)]="expressionBesoinProduit.code">
            </div>

                  <div >
                    <div class="form-group"><label class="text1"> Produit </label>
                      <a class="btn  next"  href="produit-create"> Ajouter ce produit </a>

                      <select class="form-select" aria-label="Default select example" [(ngModel)]="expressionBesoinProduit.produit">
                        <option selected>Open this select menu</option>
                        <option value="Ordinateurs de bureau">Ordinateurs de bureau</option>
                        <option value="Ordinateurs portables ">Ordinateurs portables </option>
                        <option value="Tablettes">Tablettes</option>
                      </select>

                    </div></div>
                  <div class="row">
                    <div  class="form-group"><label class="text1" >Quantite</label>
                      <input type="number" class="form-control" [(ngModel)]="expressionBesoinProduit.quantite">
                    </div>

                  </div>
                  <button class="btn add " (click)="addExpressionBesoinProduit()">Ajouter</button>
                </div>

                <div class="text-center list ">Liste d'expression besoins produits </div>
                  <table class="table table-hover table table-striped tabList">
                    <thead>
                    <th>Code</th>
                    <th>Quantite</th>
                    <th>Produit</th>

                    </thead>
                    <tbody>
                    <tr *ngFor = "let ex of expressionBesoin.expressionBesoinsProduitList; index as i">
                      <td>{{ex.code}}</td>
                      <td>{{ex.quantite}}</td>
                      <td>{{ex.produit}}</td>
                      <!--<td><span (click)="deleteByCodee(ex,i)" class="fa fa-trash btn btn-sm"></span> </td>-->
                    </tr>
                    </tbody>
                  </table>
                </div>
                </div>
                <button class="btn  ok " (click)= "save(expressionBesoin)">Confirmer</button>
                <a class="btn  next"  href="appel-achat-create"> SUIVANT </a>
      <div class="col-md-6">
        <table class="table table-bordered table-hover my-3 bena" *ngIf="expressionBesoins.length!=0">
          <thead>
          <th >Code</th>
          <th>DateExpressionBesoin</th>
          <th>Actions</th>
          </thead>
          <tbody>
          <tr *ngFor = "let e of expressionBesoins; index as i">
            <td>{{e.code}}</td>
            <td>{{e.dateExpressionBesoin}}</td>
            <td><span (click)="deleteByCode(e,i)" class="fa fa-trash btn btn-sm"></span> </td>
          </tr>
          </tbody>
        </table>
      </div>

</div>
