.banner
{
  background-image: url('../../../../assets/image/business-concept-with-calculator-close-up.jpg');
  height: 700px;
  background-position: center ;
  background-size: cover;

}
.card1 {

  justify-content: center;
  align-items: center;
  background-color: lightblue;

}
.titre{
  color: chocolate;
  font-size: 30px;
  font-family: "Britannic Bold";
}
.bouton{
  font-size: 20px;
  position: center;
}
.card-header1{
  color: burlywood;

}
.card-header{
  color: burlywood;
}

