
.card1 {

  background-color: azure;
  font-family: Apple Chancery, cursive;
  background-image:url("src/assets/image/img.jpg");
  margin-top: 60px;
}
.card{
  background-image:url("src/assets/image/img.jpg");
}

.titre{
  margin-top: 60px;
  color: chocolate;
  font-size: 30px;
  font-family: "Britannic Bold";
}
.text1{
  color: chocolate;
}
.bouton{
  font-size: 20px;
  position: center;
}
.card-header1{
  color: burlywood;

}
.card-header{
  color: burlywood;
}
.banner{
  height: 650px;
  background-image:url("src/assets/image/img.jpg");

}

